[submodule "dtk6core"]
	path = dtk6core
	url = https://github.com/linuxdeepin/dtk6core
	branch = master
[submodule "dtk6gui"]
	path = dtk6gui
	url = https://github.com/linuxdeepin/dtk6gui
	branch = master
[submodule "dtk6widget"]
	path = dtk6widget
	url = https://github.com/linuxdeepin/dtk6widget
	branch = master
[submodule "dtk6declarative"]
	path = dtk6declarative
	url = https://github.com/linuxdeepin/dtk6declarative
	branch = master
[submodule "qt6integration"]
	path = qt6integration
	url = https://github.com/linuxdeepin/qt6integration
	branch = master
[submodule "qt6platform-plugins"]
	path = qt6platform-plugins
	url = https://github.com/linuxdeepin/qt6platform-plugins
	branch = master
